body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    width: 580px;
    margin: 24px auto;
}

h1 {
    text-align: center;
}

.logout {
    text-align: right;
}

input[type="text"] {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    padding: 4px 2px;
    margin-bottom: 2px;
    align-items: center;
}

li:hover {
    background-color: #f7f7f7;
}

/*かつてdoneクラスがあった場所 checkされたとき次にあるspan要素に以下を適用*/
input[type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: #ccc;
}

input[type="checkbox"] {
    margin-right: 8px;
}

.delete {
    color: #ccc;
    cursor: pointer;
    font-size: 14px;
    margin-left: auto;
    padding-left: 8px;
}